@function randomColor() {
    $r: random(255); // 生成0-255之间的随机整数作为红色的值
    $g: random(255); // 生成0-255之间的随机整数作为绿色的值
    $b: random(255); // 生成0-255之间的随机整数作为蓝色的值
    @return rgb($r, $g, $b); // 将RGB值返回作为随机颜色
}
